* {
    margin: 0;
    padding: 0;
}

@mixin font-base {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.app {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    h1 {
        @include font-base();
        font-size: 30px;
        font-weight: 700;
    }

    &__body {
        overflow-y: scroll;
        margin-top: 20px;
        max-width: 1400px;
        margin-right: auto;
        margin-left: auto;

        display: flex;
        justify-content: space-between;

        table {
            @include font-base();
            min-width: 450px;
        }

        h1 {
            width: 100%;
            @include font-base();
            font-size: 25px;
            font-weight: 700;
        }
    }
}
