.App {
    text-align: center;
}

.app-header {
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}

.app-header input {
    width: 200px;
    height: 28px;
    border-radius: 20px;
    background: #fff;

    margin-right: 20px;
}

.app-header input:focus {
    outline-width: 0;
}

.app-body {
    display: flex;
    justify-content: space-around;
}

td {
    padding: 15px;
}

.input-fields {
}
