.new-row {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        cursor: pointer;
    }

    &:first-child {
        margin-left: 65px;
    }

    &:last-child {
        margin-right: 65px;
    }
}
