@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

@mixin font-placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

@mixin font-main {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

@mixin font-header {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

@mixin font-header-bold {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
