//colors

$color-error: #ff5151;
$color-success: #75ee88;

$color-bg: #f9f9f9;
$color-element-bg: white;

$color-button: #4a9dff;
$color-menu-icon: #aeb6cb;
$color-delimeter: rgba(93, 110, 151, 0.4);

$color-logo: #5d6e97;
$color-text-element: #5d6d97;
$color-text-header: rgba(60, 90, 168, 0.4);
